<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Text to Morse</title>
        <link rel="stylesheet" href="./static/css/style.css">
    </head>
    <body>
        <div class="wrapper">
        <div class="top">
            <div class="title"><h1>Text to Morse Code Converter</h1></div>
        </div>
        <div class="content">
            <div class="card ">
                <form action="/convert" method="POST">
                    <label for="text">Enter Text:</label>
                    <input type="text" id="text" name="text" required>
                    <button type="submit">Convert</button>
                </form>
            </div>
                {% if morse_code %}
                <div class="card ">
                    <h2>Morse Code:</h2>
                    <h2>{{ morse_code }}</h2>
                </div>
                {% endif %}
        </div>
    </body>
    <footer>
        <p>Developed by Andre Zibelli</p>
    </footer>
</html>